<div class=" datepicker dropdown-menu" ng-class="'datepicker-mode-' + $mode" style="">
    <table style="table-layout: fixed; width: 100%; background: transparent" cellspacing="0">
        <thead>
            <tr>
                <td>
                    <button tabindex="-1" type="button" class="btn btn-default pull-left" ng-click="$selectPane(-1)">
                        <i class="fa fa-chevron-left"></i>
                    </button>

                    <button tabindex="-1" type="button" class="btn btn-default btn-block text-strong" ng-click="$toggleMode()"><strong style="text-transform: capitalize;" ng-bind="title"></strong></button>

                    <button tabindex="-1" type="button" class="btn btn-default pull-right" ng-click="$selectPane(+1)">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </td>
                
            </tr>
        </thead>
    </table>
    <table class="weekDays"><tr ng-show="showLabels" ng-bind-html="labels"></tr></table>
    <table style="table-layout: fixed; height: 100%; width: 100%;">
        <tbody>
            <tr ng-repeat="(i, row) in rows" height="{{ 90 / rows.length }}%">
                <td class="text-center" ng-repeat="(j, el) in row" width="{{ 100/rows[0].length }}%">
                    <button tabindex="-1" type="button" class="" ng-attr-title="{{el.tooltip}}" ng-class="{'btn-primary': el.selected, 'is-today': el.isToday}" ng-click="$select(el.date)" ng-disabled="el.disabled">
                        <span ng-class="{'text-muted': el.muted}" ng-bind="el.label"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>